body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-between;
}
.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;

}


.events {
  width: 70%;
  padding: 20px;
}

.event-category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.selected-events {
  width: 25%;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.selected-event {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
